@{
    ViewBag.Title = "Alarm";
}

<h2>Alarm</h2>
<p>The alarm device has several functions in the home security system.</p>
<ul>
    <li>Sounds an alarm when commanded to do so</li>
    <li>The device indicates to the home owner what window or door is opened</li>
</ul>

<p>There can be more than 1 alarm device placed in the home. The idea is to place the device in a location where the home 
    owner can see the state of the window/door circuits as well as hear the alarm. </p>
<h2>Messages</h2>
<p>The following MQTT messages will be published from this device.</p>
<table>
    <thead>
        <tr><th>Address</th><th>Data</th><th>Description</th></tr>
    </thead>
    <tr>
        <td>house1/alarm/firstfloor/ping</td>
        <td>any message</td>
        <td>This is a simple message that can be used to test that your device is sending messages to the 
            broker and if the broker receives it the message will be published back to the device it came from</td>
    </tr>
</table>
<p>N/A</p>
<p>The device should subscribe to the following MQTT messages.</p>
<table>
    <thead>
        <tr><th>Address</th><th>Data</th><th>Description</th></tr>
    </thead>
    <tr>
        <td>house1/alarm/firstfloor/pingresp</td>
        <td>the message that was received by the broker</td>
        <td>This is the response message from the broker that this device sent via the ping topic.</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/masterbedroom/burglar</td>
        <td>on/off</td>
        <td>The master bedroom burglar alarm is turned on or off, as long as the alarm is on flash LED 1 on for 2 seconds then off for 2 seconds</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/bedroom1/burglar</td>
        <td>on/off</td>
        <td>The bedroom 1 burglar alarm is turned on or off, as long as the alarm is on flash LED 1 on for 2 seconds then off for 2 seconds</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/bedroom2/burglar</td>
        <td>on/off</td>
        <td>The bedroom 2 burglar alarm is turned on or off, as long as the alarm is on flash LED 1 on for 2 seconds then off for 2 seconds</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/firstfloor/burglar</td>
        <td>on/off</td>
        <td>The first floor burglar alarm is turned on or off, as long as the alarm is on flash LED 1 on for 2 seconds then off for 2 seconds</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/masterbedroom/window</td>
        <td>closed/opened</td>
        <td>The master bedroom windows are opened or closed, opened = LED 2 on, closed = LED 2 off</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/bedroom1/window</td>
        <td>closed/opened</td>
        <td>The bedroom 1 windows are opened or closed, opened = LED 3 on, closed = LED 3 off</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/bedroom2/window</td>
        <td>closed/opened</td>
        <td>The bedroom 2 windows are opened or closed, opened = LED 4 on, closed = LED 4 off</td>
    </tr>
    <tr>
        <td>house1/alarmpanel/firstfloor/window</td>
        <td>closed/opened</td>
        <td>The first floor windows are opened or closed, opened = LED 5 on, closed = LED 5 off</td>
    </tr>
    <tr>
        <td>house1/externaldoor/front/door</td>
        <td>closed/opened</td>
        <td>The external front door is opened or closed, opened = LED 6 on, closed = LED 6 off</td>
    </tr>
    <tr>
        <td>house1/externaldoor/back/door</td>
        <td>closed/opened</td>
        <td>The external back door is opened or closed, opened = LED 7 on, closed = LED 7 off</td>
    </tr>
    <tr>
        <td>house1/externaldoor/side/door</td>
        <td>closed/opened</td>
        <td>The external side door is opened or closed, opened = LED 8 on, closed = LED 8 off</td>
    </tr>
</table>
<h2>Hardware</h2>
<p>You will need the following hardware to simulate the input and output the door bell has.</p>
<table>
    <thead>
        <tr>
            <th>Qty</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>LEDs</td>
        <td>LED 1 Simulates the alarm is sounding off</td>
    </tr>
    <tr>
        <td>7</td>
        <td>LEDs</td>
        <td>LED 2 thru 8 shows what window or door is opened</td>
    </tr>
</table>
<h2>Code</h2>
<p>TODO detail the code</p>
