@{
    ViewBag.Title = "ExternalDoorEntry";
}

<h2>External Door Entry</h2>
<p>The external door of a house has several opportunities for automation. 
    </p>
<ul>
    <li>A visitor can ring the door bell</li>
    <li>A home owner can use the keyless entry to gain access into the home</li>
    <li>An LED can give the home owner feedback when the wrong code is enetered into the keypad</li>
    <li>A home owner can lock/unlock the door remotely</li>
    <li>The security system can detect when the door is open or closed</li>
</ul>
<h2>Messages</h2>
<p>TODO detail the messages</p>
<h2>Hardware</h2>
<p>TODO detail hardware connections</p>
<h2>Code</h2>
<p>TODO detail the code</p>
