@{
    ViewBag.Title = "ExternalDoorEntry";
}

<h2>External Door Entry</h2>
<p>The external door device has several functions in the home security system.</p>
<ul>
    <li>A visitor can ring the door bell</li>
    <li>A home owner can use the keyless entry to gain access into the home</li>
    <li>An LED can give the home owner feedback when the wrong code is entered into the keypad</li>
    <li>A home owner can lock/unlock the door remotely</li>
    <li>The security system can detect when the door is open or closed</li>
</ul>
<p>There can be more than one external door in a home so part of the message topic includes the name of the door (i.e front, back, side).</p>
<h2>Messages</h2>
<h3>The following MQTT messages will be published from this device (note only the front door topics are shown here).</h3>
<table>
    <thead>
        <tr><th>Address</th><th>Data</th><th>Description</th></tr>
    </thead>
    <tr>
        <td>/house1/externaldoor/front/ping</td>
        <td>any message</td>
        <td>This is a simple message that can be used to test that your device is sending messages to the 
            broker and if the broker receives it the message will be published back to the device it came from</td>
    </tr>
    <tr>
        <td>/house1/externaldoor/front/doorbell</td>
        <td>pushed</td>
        <td>Someone rang the front doorbell</td>
    </tr>
    <tr>
        <td>/house1/externaldoor/front/lock</td>
        <td>unlocked/locked</td>
        <td>The front door is unlocked or locked</td>
    </tr>
    <tr>
        <td>/house1/externaldoor/front/code</td>
        <td>01</td>
        <td>A code of 01 was entered on the front door keyless entry pad.</td>
    </tr>
    <tr>
        <td>/house1/externaldoor/front/door</td>
        <td>opened/closed</td>
        <td>The door is opened or closed.</td>
    </tr>
</table>
<h3>The device should subscribe to the following MQTT messages.</h3>
<table>
    <thead>
        <tr><th>Address</th><th>Data</th><th>Description</th></tr>
    </thead>
    <tr>
        <td>/house1/externaldoor/front/pingresp</td>
        <td>the message that was received by the broker</td>
        <td>This is the response message from the broker that this device sent via the ping topic.</td>
    </tr>
    <tr>
        <td>/house1/externaldoor/front/setlock</td>
        <td>lock/unlock</td>
        <td>The device should lock or unlock the door. Once it does so it should then send the house1/door/front/lock topic with 
            either locked or unlocked as the message body depending on what the device decided to do with the lock.</td>
    </tr>
    <tr>
        <td>/house1/externaldoor/front/codevalid</td>
        <td>true/false</td>
        <td>The keyless entry code that was entered on the device was valid or not (true or false). If the value is false then flash the LED on/off twice.</td>
    </tr>
</table>
<h2>Hardware</h2>
<p>You will need the following hardware to simulate the input and output the external door has.</p>
<table>
    <thead>
        <tr>
            <th>Qty</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>Pushbutton Switch</td>
        <td>Simulates the doorbell button</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Pushbutton Switch</td>
        <td>Simulates keypad keys for the following: 0, 1 and enter </td>
    </tr>
    <tr>
        <td>1</td>
        <td>LED</td>
        <td>Simulates if the door is locked or unlocked. On = Locked, Off = Unlocked</td>
    </tr>
    <tr>
        <td>1</td>
        <td>LED</td>
        <td>Tells the user that the code entered on the simulated keypad was wrong. Flashes on/off 2 times.</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Pushbutton Switch</td>
        <td>Simulates if the door is open or closed. Pushed = door opened, Not Pushed = door closed</td>
    </tr>
</table>
<h2>Schematic</h2>
<img src="~/Images/ExternalDoor_schem.png" width="800px"/>
<h2>Breadboard</h2>
<img src="~/Images/ExternalDoor_bb.png" width="800px"/>
