@{
    ViewBag.Title = "GettingReadyForTheMeeting";
}

<h2>What you should know</h2>
<ul>
    <li>You should be familiar with C# coding</li>
    <li>No prior experience with the Netduino or the .NET Micro Framework is needed</li>
    <li>No prior experience with electronics is needed</li>
    <li>You should look at the documentation on this site to get an understanding on what we are building</li>
</ul>
<h2>What to Bring</h2>
<ul>
    <li>Laptop with Visual Studio 2010 (VS 2012 is not supported yet for .Net Micro Framework development)</li>
    <li>The Laptop needs to have a USB port for deploying code to the Netduino</li>
    <li>If you have a Netduino Plus bring it (if your Netduino has v4.1 .Net Micro then you can leave it that way if you don't want to upgrade to v4.2 yet)</li>
    <li>If you have a Netduino Plus 2 bring it</li>
    <li>Head on over to<a href="http://www.netduino.com/downloads/">Netduino Downloads</a>to get the following:
        <ul>
            <li>Download and Install the .NET Micro Framework SDK v4.2</li>
            <li>Download and Install the Netduino SDK v4.2.0.1</li>
        </ul>
    </li>
    <li>Ethernet cable</li>
    <li>Power Strip</li>
    <li><a href="https://github.com/">Git for Windows</a> would be nice but I will have the source on a memory stick</li>
</ul>
<h2>What to read</h2>
<ul>
    <li>Check out the getting started guide on the<a href="http://www.netduino.com/downloads/">Netduino Downloads</a>page </li>
    <li>Check out the<a href="http://www.netduino.com/netduinoplus/specs.htm">Netduino Plus hardware specs sheet</a> 
        for details on the pin out for the Netduino</li>
</ul>

