@{
    ViewBag.Title = "GettingReadyForTheMeeting";
}

<h2>What you should know</h2>
<ul>
    <li>You should be familiar with C#, JAVA or C++ coding</li>
    <li>No prior experience with the Netduino or the .NET Micro Framework is needed</li>
    <li>No prior experience with electronics is needed</li>
    <li>You should look at the documentation on this site to get an understanding on what we are building</li>
</ul>
<h2>What to Bring</h2>
<ul>
    <li>A Laptop with a USB port for deploying code to the Netduino</li>
    <li>Visual Studio 2010 loaded onto the laptop
        <ul>
            <li>Download Visual C# 2010 Express from <a href="http://www.microsoft.com/visualstudio/eng/downloads#d-2010-express">here</a></li>
            <li>Note: Visual Studio 2012 is not supported yet</li>
        </ul>
    </li>
    <li>Head on over to<a href="http://www.netduino.com/downloads/">Netduino Downloads</a>to get the following:
        <ul>
            <li>Download and Install the .NET Micro Framework SDK v4.2</li>
            <li>Download and Install the Netduino SDK v4.2.2.0
                <ul>
                    <li>Only install the 32 bit or 64 bit (not both of them)</li>
                    <li>You install the 64 bit if your laptop is 64 bit</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Power Strip</li>
</ul>
<h2>What will be provided</h2>
<ul>
    <li>Netduino Plus or Netduino Plus 2 will be available for you to use</li>
    <li>Push button switches to simulate inputs</li>
    <li>LEDs to simulate output</li>
    <li>3 ft USB cable</li>
    <li>Ethernet cable</li>
    <li>A network switch to connect the Netduino to the internet</li>
    <li>A network router to isolate the Netduino network from the facility network</li>
    <li>A starter solution that you will use to add the code to complete the security device</li>
    <li>A completed solution that you can use as a reference to see how a security device was coded</li>
</ul>
<h2>What to read</h2>
<ul>
    <li>Check out the getting started guide on the<a href="http://www.netduino.com/downloads/">Netduino Downloads</a>page </li>
    <li>Check out the<a href="http://www.netduino.com/netduinoplus/specs.htm">Netduino Plus hardware specs sheet</a> 
        for details on the pin out for the Netduino</li>
</ul>

