@{
    ViewBag.Title = "Docs";
}

<h2>What do I need</h2>
<p>Before you attend this event you need to get a few things in order.  We dont have a lot of time during the event to spend it setting up 
    your development environment so make sure you check out <a href="Docs/GettingReadyForTheMeeting">Getting Ready For the Meeting</a>. 
</p>
<h2>What will I be doing</h2>
<p>
    We will be building the following devices in the home security system
</p>
<ul>
    <li><a href="Docs/ExternalDoorEntry">External Door Entry</a>- This device handles all the I/O for any External Door</li>
    <li><a href="Docs/DoorBell">Door Bell</a>- This device handles the I/O for letting the user know a door bell was pushed</li>
    <li><a href="Docs/Alarm">Alarm</a>- This device handles the I/O for letting the user know the alarm was tripped</li>
    <li><a href="Docs/AlarmControlPanel">Alarm Control Panel</a>- This device handles the I/O for the control panels placed in each room of the house</li>
    <li><a href="Docs/Garage">Garage</a>- This device handles the I/O for the garage</li>
</ul>
