@{
    ViewBag.Title = "MasterControlPanel";
}

<h2>Master Control Panel</h2>
<p>
    This runs in Windows Azure Web Sites and acts as the main logic for the security system.  TODO detail more about this.     
</p>
