@{
    ViewBag.Title = "Index";
}
@section Scripts{
    <script src="~/Scripts/HomeSecurity/HomeSecurity.js" type="text/javascript">

    </script>
}
<h2>Master Control Dashboard</h2>
<div class="row">
    <div class="span4 pagination-centered">
        <h1 id="seconds"></h1>
    </div>
    <div class="span4 pagination-centered">
        <img id="burlaralarmled" src="~/Images/Alarm_Ok.png" />
    </div>
</div>

<div class="row well">
    <div class="row">
        <div class="span2 offset2">
            <h5>Front</h5>
        </div>
        <div class="span2">
            <h5>Side</h5>
        </div>
        <div class="span2">
            <h5>Back</h5>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h5>Door Sensors</h5>
        </div>
        <div class="span2">
            <img id="frontdoorled" src="~/Images/LED_OFF.png" class="center" />
        </div>
        <div class="span2">
            <img id="sidedoorled" src="~/Images/LED_OFF.png" class="center" />
        </div>
        <div class="span2">
            <img id="backdoorled" src="~/Images/LED_OFF.png" class="center" />
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h5>Door Locked</h5>
        </div>
        <div class="span2">
            <img id="frontdoorlockedled" src="~/Images/LED_OFF.png" class="center" />
        </div>
        <div class="span2">
            <img id="sidedoorlockedled" src="~/Images/LED_OFF.png" class="center" />
        </div>
        <div class="span2">
            <img id="backdoorlockedled" src="~/Images/LED_OFF.png" class="center" />
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h5>Doorbell</h5>
        </div>
        <div class="span2">
            <img id="frontdoorbellled" src="~/Images/LED_OFF.png" />
        </div>
        <div class="span2">
            <img id="sidedoorbellled" src="~/Images/LED_OFF.png" />
        </div>
        <div class="span2">
            <img id="backdoorbellled" src="~/Images/LED_OFF.png" />
        </div>
    </div>
</div>

<div class="row well">
    <div class="row">
        <div class="span2 offset2">
            <h5>Master Bedroom</h5>
        </div>
        <div class="span2">
            <h5>Bedroom 1</h5>
        </div>
        <div class="span2">
            <h5>Bedroom 2</h5>
        </div>
        <div class="span2">
            <h5>First Floor</h5>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h5>Window Sensors</h5>
        </div>
        <div class="span2">
            <img id="masterbedroomwindowled" src="~/Images/LED_OFF.png" class="center" /></div>
        <div class="span2">
            <img id="bedroom1windowled" src="~/Images/LED_OFF.png" class="center" /></div>
        <div class="span2">
            <img id="bedroom2windowled" src="~/Images/LED_OFF.png" class="center" /></div>
        <div class="span2">
            <img id="firstfloorwindowled" src="~/Images/LED_OFF.png" class="center" /></div>
    </div>
    <div class="row">
        <div class="span2">
            <h5>Motion Sensors</h5>
        </div>
        <div class="span2"></div>
        <div class="span2"></div>
        <div class="span2"></div>
        <div class="span2">
            <img id="firstfloormotionled" src="~/Images/LED_OFF.png" class="center" /></div>

    </div>
</div>
<div class="row well">
    <div class="row">
        <div class="span2 offset2">
            <h5>Sleep</h5>
        </div>
        <div class="span2">
            <h5>Away</h5>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h5>Alarm</h5>
        </div>
        <div class="span2">
            <img id="sleepled" src="~/Images/LED_OFF.png" /></div>
        <div class="span2">
            <img id="awayled" src="~/Images/LED_OFF.png" /></div>

    </div>
</div>
<div class="row">
    <form class="well form-inline">
        <label>Enter Secret Code:</label>
        <input type="text" id="keycode" />
        <input type="button" id="enterButton" value="Enter" class="btn" onclick="EnterButtonClicked()" />
    </form>
</div>
<div class="row well">
    <div class="row">
        <div class="span6 offset2 pagination-centered">Total Number of MQTT Active Clients:</div>
        <div id="MQTTClientCount" class="span2"></div>
    </div>
    <div class="row">
        <div class="span4"><h5>External Door Front Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="externalDoorFrontPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>External Door Side Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="externalDoorSidePing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>External Door Back Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="externalDoorBackPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Alarm Panel Master Bedroom Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="alarmPanelMasterbedroomPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Alarm Panel Bedroom 1 Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="alarmPanelBedroom1Ping" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Alarm Panel First Floor Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="alarmPanelFirstFloorPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Alarm Panel Bedroom 2 Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="alarmPanelBedroom2Ping" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Alarm First Floor Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="alarmFirstFloorPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Alarm Second Floor Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="alarmSecondFloorPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Doorbell First Floor Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="doorbellFirstFloorPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Doorbell Second Floor Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="doorbellSecondFloorPing" value="Send" /></div>
    </div>
    <div class="row">
        <div class="span4"><h5>Doorbell Garage Ping</h5></div>
        <div class="span1 pull-left"><input type="button" id="doorbellGaragePing" value="Send" /></div>
    </div>
</div>
