@{
    ViewBag.Title = "Index";
}
@section Scripts{
    <script src="~/Scripts/HomeSecurity/HomeSecurity.js" type="text/javascript">

    </script>
}
<h2>Dashboard</h2>
<p>This will be the Home Security Dashboard.  From here you will be able to monitor the status of your home as well as interact with it.</p>
<table>
    <tr>
        <td>Total Number of MQTT Active Clients:</td>
        <td ><div id="MQTTClientCount"></div></td>
    </tr>
</table>
<h3>Master Control</h3>
<table>
    <tr>
        <td></td>
        <td >Front</td>
        <td >Side</td>
        <td >Back</td>
        <td >Master Bedroom</td>
        <td >Bedroom 1</td>
        <td >Bedroom 2</td>
        <td >First Floor</td>
    </tr>
    <tr>
        <td >Doors</td>
        <td ><img id="frontdoorled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="sidedoorled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="backdoorled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td >Locked</td>
        <td ><img id="frontdoorlockedled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="sidedoorlockedled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="backdoorlockedled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td >Windows</td>
        <td></td>
        <td></td>
        <td></td>
        <td ><img id="masterbedroomwindowled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="bedroom1windowled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="bedroom2windowled" src="~/Images/LED_OFF.png" class="center" /></td>
        <td ><img id="firstfloorwindowled" src="~/Images/LED_OFF.png" class="center" /></td>
    </tr>
    <tr>
        <td >Motion</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td ><img id="firstfloormotionled" src="~/Images/LED_OFF.png" class="center" /></td>
    </tr>
    <tr>
        <td >Doorbell</td>
        <td><img id="frontdoorbellled" src="~/Images/LED_OFF.png"/></td>
        <td><img id="sidedoorbellled" src="~/Images/LED_OFF.png"/></td>
        <td><img id="backdoorbellled" src="~/Images/LED_OFF.png"/></td>
        <td></td>
        <td></td>
        <td></td>
        <td ></td>
    </tr>
    <tr>
        <td ></td>
        <td>Sleep</td>
        <td>Away</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td ></td>
    </tr>
    <tr>
        <td>Alarm</td>
        <td><img id="sleepled" src="~/Images/LED_OFF.png" /></td>
        <td><img id="awayled" src="~/Images/LED_OFF.png" /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td ></td>
    </tr>
</table>
