@{
    ViewBag.Title = "Settings";
}
@section Scripts{
    <script src="~/Scripts/HomeSecurity/Settings.js" type="text/javascript">

    </script>
}

<h2>Settings</h2>
<form>
    <table>
        <tr>
            <td colspan="2"><b>MQTT Message Broker IP</b></td>
        </tr>
        <tr>
            <td>IP:</td>
            <td><input type="text" id="brokerIp" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" id="connect" value="Connect" /></td>
        </tr>
    </table>
</form>