@{
    ViewBag.Title = "Sponsors";
}

<div class="row">
    <div class="span4 offset4 pagination-centered">
        <a href="http://www.secretlabs.com">
            <img src="~/Images/secretlabs.gif" /></a>
    </div>
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="span4 offset4 pagination-centered">
        <a href="http://www.netduino.com">
            <img src="~/Images/netduino.gif" /></a>
    </div>
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="span4 offset4 pagination-centered">
        <a href="http://www.logicaladvantage.com">
            <img src="~/Images/LogicalAdvantage.png" width="400px" /></a>
    </div>
</div>

